
.ctl-multiplayer-dlg-content *{
    font-family: 'RoundedMplus1c';
    color: #fff;
}

.ctl-multiplayer-nickname-edit{
    margin-left: 10px;
    vertical-align: middle;
}

.ctl-multiplayer-dlg-content .ctl-multiplayer-icons-cancel{
    position: absolute;
    top: 4px;
    right: 4px;
    
    background-color: #a53d3d;
    color: #fff;
    font-size: 16px;
    width:30px;
    height:22px;
    text-align: center;
    
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    
    cursor: pointer;
    line-height: 18px;    
    
    border-radius: 6px;
}

.ctl-multiplayer-form-group{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.ctl-multiplayer-form-group p{
    font-size: 12px;
    margin-top: 2px;
}

.ctl-multiplayer-inline-list li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.ctl-multiplayer-display-none{
    display: none !important;
}

.ctl-multiplayer-inline-list input[type=radio]{
    margin: 0px;
    margin-right: 3px;
    cursor: pointer;
}

.ctl-multiplayer-inline-list li span{
    font-size: 14px;
}

.ctl-multiplayer-dlg-content label,
.ctl-multiplayer-dlg-content p,
.ctl-multiplayer-dlg-content a,
.ctl-multiplayer-dlg-content h1{    
    color: #fff;
}

.ctl-multiplayer-nickname-edit{ 
    color: #fff;
    font-weight: bold;
}

.ctl-multiplayer-dlg-content input[type=number],
.ctl-multiplayer-dlg-content input[type=text],
.ctl-multiplayer-dlg-content input[type=password]{
    color: #0d4c78;
}

.ctl-multiplayer-dlg-content input[type=number],
.ctl-multiplayer-dlg-content input[type=text],
.ctl-multiplayer-dlg-content input[type=password],
.ctl-multiplayer-dlg-content button{
    outline: 0;    
    box-sizing: border-box; 
    
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;     
}

.ctl-multiplayer-dlg-content label{
    font-size: 14px;  
    font-style: italic;
    margin-bottom: 4px;
}

.ctl-multiplayer-dlg-content input[type=number],
.ctl-multiplayer-dlg-content input[type=text],
.ctl-multiplayer-dlg-content input[type=password]{
    padding: 5px;
    font-size: 18px;
    border: 1px solid #aaa;
}

.ctl-multiplayer-dlg-content button{
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    color: #474747;
    text-transform: uppercase;
    display: inline-block;
}

.ctl-multiplayer-dlg-content button{
    background-color: #31a8fd; 
}

.ctl-multiplayer-dlg-content button:hover,
.ctl-multiplayer-dlg-content button:active{
    background-color: #6a9cbf;
}

.ctl-multiplayer-dlg-content button.ctl-multiplayer-btn-gray{
    /*
    border: 4px solid #fff;
    background-color: #1c1c1c; 
    color: #fff;
    */
}

.ctl-multiplayer-dlg-content button.ctl-multiplayer-btn-gray:hover,
.ctl-multiplayer-dlg-content button.ctl-multiplayer-btn-gray:active{
    background-color: #6a9cbf;
}


.ctl-multiplayer-dlg-content button:active{
    top: 1px;
}

.ctl-multiplayer-dlg-content label,
.ctl-multiplayer-dlg-content input[type=number],
.ctl-multiplayer-dlg-content input[type=text],
.ctl-multiplayer-dlg-content input[type=password]{
    width: 100%;
    display: block;
}

.ctl-multiplayer-dlg-content button:focus{
    outline:0;
}

.ctl-multiplayer-current-users{
    position: absolute;
    right: 25px;
    top: 6px;
    font-size: 10px;
}


button.ctl-multiplayer-mini{
    padding: 10px 15px;
    font-size: 18px;
}

.ctl-multiplayer-dlg-wrapper,
.ctl-multiplayer-dlg-block{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; 
}

.ctl-multiplayer-dlg-scroll{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: auto;
}

.ctl-multiplayer-dlg-block{
    background-color: rgba(0,0,0,0.3);
}

.ctl-multiplayer-dlg-content{

    
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    color: #FFF;
    background: #ffd90c;
    background-clip: padding-box; /* !importanté */
    border: solid 8px transparent; /* !importanté */
    border-radius: 16px;
    box-sizing: border-box;
    padding: 15px 30px;
       
}

.ctl-multiplayer-dlg-content:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -2;
      margin: -8px; /* !importanté */
      border-radius: inherit; /* !importanté */
      border: 2px solid #000;
      background: linear-gradient(to bottom, #fff, #fff);
      box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.4);
}

.ctl-multiplayer-dlg-content button:before{
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -2;
      margin: -6px; /* !importanté */
      border-radius: inherit; /* !importanté */
      border: 10px solid #fff;
      background: linear-gradient(to bottom, #fff, #fff);
      border: 2px solid #000;
}


.ctl-multiplayer-dlg-content:after {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: 0px; /* !importanté */
      border-radius: 10px;
      background: #0d4c78;
      /*box-shadow: 0px 1px 0px 0px rgba(255,255,255,1) inset, 0px -1px 0px 0px rgba(255,255,255,1) inset;*/
      border: 2px solid #000;
}

.ctl-multiplayer-dlg-content button:after{
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: 0px; /* !importanté */
      /*border-radius: inherit; /* !importanté */
      
      border-radius: 10px;
      /*background: #1c1c1c;*/
      background: #ffc800;
      border: 2px solid #000;
      box-shadow: 0px -5px 0px 0px rgb(193 146 14) inset, 0px -1px 0px 0px rgb(0 0 0) inset;
}

.ctl-multiplayer-list li i.ctl-multiplayer-icons-skin{
    background-repeat: no-repeat;
    width:24px;
    height:24px;
    position:absolute;
    left:0%;
    top:12%;
    image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.ctl-multiplayer-dlg-content-body{
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: calc(100vh - 180px);
    /*overflow-y: auto;*/
    min-height: 50px;
}

.ctl-multiplayer-room-list{
    margin-top: 15px;
}


.ctl-multiplayer-dlg-footer{
    text-align: center;
}

.ctl-multiplayer-dlg-footer{
    margin-left: -3px;
    margin-right: -3px;
}

.ctl-multiplayer-dlg-footer button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; 
    margin-bottom: 20px; 
    position: relative;
    z-index: 1;   
}

.ctl-multiplayer-inline-list{
    padding-left: 0px
}

.ctl-multiplayer-list{
    border: 1px solid #aaa;
    max-height: 300px;
    min-height: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0px;
}

.ctl-multiplayer-list li{
    padding: 5px;
    font-size: 12px;
    position: relative;
    cursor: pointer;   
    padding-right: 20px;
    
}

.ctl-multiplayer-list li i{
    position: absolute;
    right: 5px;
    font-size: 12px;
    color: #d10101;  
}

.ctl-multiplayer-list li i.ctl-multiplayer-icons-login{
    color: #3ebe09;   
}

.ctl-multiplayer-list li i.ctl-multiplayer-icons-lock{
    color: #ffd90c;    
}

.ctl-multiplayer-list li:nth-child(odd) {
    background-color: #2794e7;
}

.ctl-multiplayer-list li:hover{
    color: #fff;
    background-color: #52b3fc;    
}

.ctl-multiplayer-list li:hover > i{
    color: #fff;
}

.ctl-multiplayer-user-list{
    margin-bottom: 10px;
    text-align: left;
}

.ctl-multiplayer-room-info{
    font-size: 11px;
    text-align: left;
    font-style: italic;
    margin-bottom: 10px;
}

.ctl-multiplayer-align-center{
    text-align: center;
}

.ctl-multiplayer-align-v-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctl-multiplayer-update{
    width: 100%;
    font-size: 14px !important;
    margin-top: 5px;
    margin-bottom: 5px;    
}

.ctl-multiplayer-center{
    text-align: center;
}

.ctl-multiplayer-copyright{
    text-align: center;
    margin-top: 5px;
}

.ctl-multiplayer-copyright a{
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
    display: block;    
}

.ctl-multiplayer-copyright a:visited{
    
}

.ctl-multiplayer-copyright a:hover,
.ctl-multiplayer-copyright a:active{
    color: #ffd90c;
}

.tippy-content {
    font-family: 'futura_t_otregular';
    font-weight: bold;
    background-color: #4e9948;
}

.tippy-arrow {
    color: #4e9948;
}

.ctl-multiplayer-room-link{
    margin-top: 15px;
    font-size: 12px !important;
}

.ctl-multiplayer-icons-login{
    color: #3ebe09;   
}

.ctl-multiplayer-icon-create-match{
    float: right;    
}

.ctl-multiplayer-icons-lock{
    color: #ffd90c;    
}

.ctl-multiplayer-dlg-header h1{
  font-size: 22px;
  margin-bottom: 5px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .ctl-multiplayer-dlg-content {
    width: 70%;
  }

  /*
  button.ctl-multiplayer-mini{
    padding: 7px 10px;
    font-size: 14px;
  }
  */
}


@media screen and (max-width: 600px) {
  .ctl-multiplayer-dlg-content {
    width: calc(100% - 30px);
    padding: 15px 15px;
  }
  
  button.ctl-multiplayer-mini{
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 15px;
  }  
  
  .ctl-multiplayer-dlg-header h1{
    font-size: 20px;
  }  
}

@media screen and (max-height: 500px) {
  .ctl-multiplayer-dlg-header h1{
    font-size: 20px;
  }
  
  .ctl-multiplayer-dlg-content{
     padding: 10px 30px; 
  }
  
  .ctl-multiplayer-dlg-content-body{
      max-height: calc(100vh - 160px);
  }
  
  .ctl-multiplayer-form-group label{
      width: 30%;
      display: inline-block;
  }
  
  .ctl-multiplayer-form-content{
      width: 70%;
      display: inline-block;
  }
}

@media screen and (max-height: 400px) {
  .ctl-multiplayer-dlg-content {
    padding: 15px 15px;
  }
  
  button.ctl-multiplayer-mini{
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 15px;
  }  
  
  .ctl-multiplayer-dlg-header h1{
    font-size: 20px;
  }  
}