.language-flag {
    width: 41px;
    height: 24px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
}

.change-lang-modal .language-flag {
    float: left;
    margin-right: 8px;
}

.bg-es {
    background: url('../sprites/flags.png') -0 -0;
}

.bg-fr {
    background: url('../sprites/flags.png') -41px -0;
}

.bg-id {
    background: url('../sprites/flags.png') -0 -24px;
}

.bg-hi {
    background: url('../sprites/flags.png') -41px -24px;
}

.bg-it {
    background: url('../sprites/flags.png') -0 -48px;
}

.bg-ja {
    background: url('../sprites/flags.png') -41px -48px;
}

.bg-pt {
    background: url('../sprites/flags.png') -82px -0;
}

.bg-ru {
    background: url('../sprites/flags.png') -82px -24px;
}

.bg-tr {
    background: url('../sprites/flags.png') -82px -48px;
}

.bg-zh {
    background: url('../sprites/flags.png') -0 -72px;
}

.bg-ar {
    background: url('../sprites/flags.png') -41px -72px;
}

.bg-en {
    background: url('../sprites/flags.png') -82px -72px;
}

.bg-de {
    background: url('../sprites/flags.png') -0 -96px;
}

@media (max-width: 575.98px) {
    .language-flag {
        width: 31px;
        height: 18px;
        border-radius: 0px;
    }

    .bg-ar {
        background: url('../sprites/flags_small.png') -0 -0;
    }
    
    .bg-de {
        background: url('../sprites/flags_small.png') -31px -0;
    }
    
    .bg-es {
        background: url('../sprites/flags_small.png') -0 -18px;
    }
    
    .bg-ja {
        background: url('../sprites/flags_small.png') -31px -18px;
    }
    
    .bg-hi {
        background: url('../sprites/flags_small.png') -0 -36px;
    }
    
    .bg-id {
        background: url('../sprites/flags_small.png') -31px -36px;
    }
    
    .bg-fr {
        background: url('../sprites/flags_small.png') -62px -0;
    }
    
    .bg-en {
        background: url('../sprites/flags_small.png') -62px -18px;
    }
   
    .bg-pt {
        background: url('../sprites/flags_small.png') -62px -36px;
    }
    
    .bg-ru {
        background: url('../sprites/flags_small.png') -0 -54px;
    }

    .bg-tr {
        background: url('../sprites/flags_small.png') -31px -54px;
    }

    .bg-zh {
        background: url('../sprites/flags_small.png') -62px -54px;
    }
  
    .bg-it {
        background: url('../sprites/flags_small.png') -0 -72px;
    }

 }

 @media (max-height: 450px) {
    .language-flag {
        width: 31px;
        height: 18px;
    }

    .bg-ar {
        background: url('../sprites/flags_small.png') -0 -0;
    }
    
    .bg-de {
        background: url('../sprites/flags_small.png') -31px -0;
    }
    
    .bg-es {
        background: url('../sprites/flags_small.png') -0 -18px;
    }
    
    .bg-ja {
        background: url('../sprites/flags_small.png') -31px -18px;
    }
    
    .bg-hi {
        background: url('../sprites/flags_small.png') -0 -36px;
    }
    
    .bg-id {
        background: url('../sprites/flags_small.png') -31px -36px;
    }
    
    .bg-fr {
        background: url('../sprites/flags_small.png') -62px -0;
    }
    
    .bg-en {
        background: url('../sprites/flags_small.png') -62px -18px;
    }
   
    .bg-pt {
        background: url('../sprites/flags_small.png') -62px -36px;
    }
    
    .bg-ru {
        background: url('../sprites/flags_small.png') -0 -54px;
    }

    .bg-tr {
        background: url('../sprites/flags_small.png') -31px -54px;
    }

    .bg-zh {
        background: url('../sprites/flags_small.png') -62px -54px;
    }
  
    .bg-it {
        background: url('../sprites/flags_small.png') -0 -72px;
    }
 }