
/* --- Bootstrap custom css overwrite --- */
.table-active {
    --bs-table-bg-state: var(--highlight-your-position)!important;
}

.table {
    margin-bottom: 0px;
    --bs-table-bg: var(--leaderboard-player-bg);
    border-color: var(--main-bg-color);
} 

thead {
    --bs-table-bg: var(--leaderboard-thead-bg);
  }

tbody tr {
    border-bottom-width: 5px;
    vertical-align: middle;
}

tbody tr:last-child {
    border-bottom-width: 0px;
}

.modal-header .btn-close {    
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;    
    margin: 0;
    padding: 0;
}

.modal-header .btn-close:focus {
    box-shadow: none;
}

.fas, .fa-solid{
    vertical-align: baseline;
}

/* --- Fonts style and color --- */

.header-leaderboard-icon, .header-leaderboard-title, tbody th, tbody td, .sidebar-menu-container h4, .sidebar-menu-container label, 

/*.sidebar-menu-container span, .sidebar-menu-container i,*/

.sidebar-menu-container button, 
.sidebar-menu-container .form-check,
.sidebar-menu-button-link button, 
.general-box h1, .general-box h2, .general-box a, 
.credits-box h1, .credits-box h2, .credits-box a, 
.more-games-box h4, .more-games-box .owl-prev span, .more-games-box .owl-next span, .sidebar-footer a,
.modal-title {
    color: var(--primary-font-color)!important;
}

a {
    text-decoration: none;
}

.underlined-text-but{
    color: var(--primary-font-color)!important;
    cursor:pointer;
    text-decoration: underline;
}

/* --- General Modal Style --- */

    .go-back-btn{
        top:10px;
        left:10px;
        padding: 5px;
        position: absolute;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        
        text-shadow: 0px 0px 4px #000000;
    }

    .go-back-btn i{
        font-size: 38px!important;
        color: #fff;
        
        
    }
    
    .go-back-btn:hover{
        opacity: 0.7;
    }

    .modal-content {
        background: var(--main-gradient-bg-color);
    }

    .btn-close {
        filter: var(--bs-btn-close-white-filter);
    }

    .modal-header {
        border-bottom-color: var(--border-separator-color);
    }

    .modal-footer {
        border-top-color: var(--border-separator-color);
    }

/* --- Leaderboard Header --- */ 
.header-leaderboard-icon, .header-leaderboard-title {
    font-size: 40px;
}

.modal-header .btn-close {
    font-size: 24px;
}

/* --- Leaderboard thead table title --- */
.leaderboard-rank {
    max-width: 25px;
}

.leaderboard-level {
    max-width: 25px;
}

.leaderboard-points {
    max-width: 25px;
}

.leaderboard-badge, .leaderboard-rank {
    padding: 2px 4px 2px 4px !important;
}

.modal-body{
    color: var(--primary-font-color);
}

.form-label .mandatory{
    font-size: 0.7rem;
    line-height: 1rem;
    color: var(--form-error);
}

thead th{
    color: var(--leaderboard-thead-text)!important;
}

/* --- Leaderboard tbody --- */

.leaderboard-container td, .leaderboard-container th{
    font-size: 19px;    
    padding: 2px 10px 2px 10px;
}

.top-players-bg-color {
    --bs-table-bg: var(--leaderboard-top-player-bg);
}

.badge-bg-top-player {
    --bs-table-bg: var(--badge-bg-top-player);
}

.badge-bg-player {
    --bs-table-bg: var(--badge-bg-player);
}

.point-bg-top-player {
    --bs-table-bg: var(--point-bg-top-player);
}

.badge-bg-player {
    --bs-table-bg: var(--badge-bg-player);
}

.point-bg-player {
    --bs-table-bg: var(--point-bg-player);
}

.table-active .leaderboard-badge {
    --bs-table-bg-state: var(--highlight-badge-bg);
}

.table-active .leaderboard-point {
    --bs-table-bg-state: var(--highlight-point-bg);
}

.top-players-container .top-players-bg-color:last-child {
    border-color: var(--top-players-separator-color);
    border-bottom-width: 8px;
    border-style: ridge;
}

/* --- Leaderboard Footer --- */
.btn-primary {
    --bs-btn-color: var(--primary-font-color);
    --bs-btn-bg: var(--footer-button-bg-color);
    --bs-btn-border-color: var(--footer-button-bg-color);
    --bs-btn-hover-color: var(--footer-button-text-color);
    --bs-btn-hover-bg: var(--footer-button-bg-color);
    --bs-btn-hover-border-color: var(--footer-button-bg-color);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: var(--footer-button-text-color);
    --bs-btn-active-bg: var(--footer-button-bg-color);
    --bs-btn-active-border-color: var(--footer-button-bg-color);
    --bs-btn-active-shadow: none;
}

.btn:hover {
    color: var(--primary-font-color);
}

.btn.active {
    color: var(--secondary-font-color)!important;
    background-color: var(--footer-button-active-bg-color);
    border-color: var(--footer-button-active-bg-color);
}

.form-control{
    
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem var(--focus-input);
}

/* --- Sidebar --- */
.sidebar-menu {
    background-color: var(--sidebar-main-color);
}

.sidebar-menu-section-title {
    padding: 5px;
    background-color: var(--sidebar-title-bg-color);
}

.hamburger-inner-white, .hamburger-inner-white::before, .hamburger-inner-white::after {
    background-color: #fff!important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    box-shadow: 0px 0px 4px 0px #000000;
}

.is-active .hamburger-inner, .is-active .hamburger-inner::before, .is-active .hamburger-inner::after{
    box-shadow: none;
}

.toggle-sidebar-btn-top-right {
    position: absolute;
    top: 10px;
    left: calc(-65px - 10px);
    padding: 5px;
    margin-left: 15px;
    
}

.show .toggle-sidebar-btn-top-right {
    right:0px;
    left: auto;
}

.offcanvas-header {
    height: 55px;
}

#button_register {
    margin-right: auto;
}

.offcanvas-header button{
    margin-right: 10px;
}

.ctl-logo {
    width: 140px;
}

.offcanvas-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-separator-color);
    background-color: var(--sidebar-secondary-color);
}

.offcanvas-body {
    max-height: calc(100vh - 82px);
    background: var(--main-gradient-bg-color);
}

.offcanvas{
    visibility: visible;
}

.offcanvas-block{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    transition: all 0.4s ease 0.0s;
    opacity: 0;
    visibility: hidden;
}

.block-loading{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3); 
}

.block-loading-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden; 
    transition: all 0.4s ease 0.0s;      
    z-index: 9999;
}

.block-loading-container.show{
    visibility: visible;
    opacity: 1; 
}

.offcanvas-block.show{
    visibility: visible;
    opacity: 0.3;
}


.toggle-sidebar-btn {
    position: absolute;
    top: 10px;
    right: calc(-45px - 10px);
    padding: 5px;
    margin-left: 15px;
}

.sidebar-menu-container .sidebar-menu-form-check .form-check {
    margin: 0px;
}

.sidebar-menu-container .sidebar-menu-form-check .form-check:hover label, .sidebar-menu-container .sidebar-menu-form-check 
.form-check:hover span, .sidebar-menu-container .sidebar-menu-form-check .form-check:hover i, 
.sidebar-menu-button-link button:hover, .sidebar-menu-button-link button:hover i{
    color: var(--sidebar-main-color)!important;
}

.sidebar-menu-container .sidebar-menu-form-check .form-check:hover, .sidebar-menu-button-link button:hover{
    background-color: var(--sidebar-hover-bg-color);
}

.form-check-input:focus {
    outline: 0;
    box-shadow: none;
}

.sidebar-menu-container .sidebar-menu-form-check .form-check, .sidebar-menu-button-link button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;    
    transition: all 0.2s ease-out;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-separator-color);
    border-radius: 0px;
    text-decoration: none;
}

.form-switch.form-check-reverse .form-check-input {
    margin-right: 0;
    cursor: pointer;
}

.sidebar-menu-container .list-group i, .sidebar-menu-button-link i {
    font-size: 20px;
}

.icon-start {
    width: 35px;
}

.sidebar-menu-container .list-group, .sidebar-menu-button-link {
    margin-bottom: 25px;
}

.sidebar-menu-container .list-group:last-child {
    margin-bottom: 0px;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    border-top-width: 1px;
    border-top-color: var(--border-separator-color);
    border-top-style: solid;
    padding: 5px;
    background-color: var(--sidebar-secondary-color);
}

.sidebar-footer a{
    margin-top: 10px;
}

.more-games-btn button {
    background-color: var(--lg-button-bg-color);
}

.cart-btn {
    position: absolute;
    top: 10px;
    right: 75px;
    padding: 5px;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.cart-btn i{
    font-size: 24px;
    color: #fff;
}

.cart-btn:hover{
	opacity: 0.7;
}

/* Change language modal */
.change-lang-modal .modal{
    --bs-modal-padding: 0;
    width: 400px;
}

.change-lang-modal span {
    border: 1px solid #ccc;
}

.change-lang-modal li {
    cursor: pointer;
}

.change-lang-modal li:hover {
    background-color: #F5F5F5;
}

.change-lang-modal .modal-header {
    background-color: var(--bs-modal-bg);
    padding: 5px;
}

.change-lang-modal .btn-close {
    filter: var(--bs-btn-close-color);
    font-size: 18px;
}

.change-lang-modal .modal-dialog-scrollable .modal-body {
    background-color: var(--bs-modal-bg);
    padding: 0px;
}

/* Account Profile Dropdown menu */
.dropdown-menu-dark {
    --bs-dropdown-bg: var(--sidebar-title-bg-color);
}

.dropdown-menu li a{
    color: var(--primary-font-color);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--bs-dropdown-link-hover-bg);
}

.account-profile-dropdown-menu {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--border-separator-color);
}

.dropdown-menu {
    --bs-dropdown-bg: var(--sidebar-title-bg-color);
 }

.logged-user button{
    padding: 0;
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: transparent;
    border-style: none;
}

.logged-user button:active, .logged-user .btn.show{
    background-color: transparent!important;
    color: var(--primary-font-color)!important;
}

/* Credits box */
.credits-box .ctl-logo {
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.credits-box .modal-body {
    padding-top: 25px;
    padding-bottom: 50px;
}

.credits-box .modal-header,
.general-box .modal-header {
    border-bottom-color: var(--border-separator-color);
}

.credits-box .modal-title,
.general-box .modal-title {
    margin: auto;
}

.general-box .modal-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 2D/3D - Buttons */
.choose-board{
    padding: 50px;
}

.btn-board-style{
    display: block;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: var(--primary-font-color) !important;
 }

 .btn-board-style img{
    width: 100%;
    max-width: 150px;
    display: block;
    margin: auto;
    
 }

 
 
/* More games box */
.more-games-box  img {
    cursor: pointer;
}

.more-games-box .col img {
    object-fit: cover;
    width: 100%;    
    border-radius: 5px;
}

.more-games-box .owl-carousel {
    padding-left: 18px;
    padding-right: 18px;
    display:block
}

.more-games-box .owl-carousel img {    
    border-radius: 5px;
}

.more-games-box .ctl-logo {
    width: 200px;
}

.more-games-box .owl-stage{
    padding-left:0px !important;
}

.more-games-box .owl-nav {
    margin-top: 0!important;
    position: absolute;
    width: 100%;
    top: 45%;
}

.more-games-box .owl-nav .owl-prev {
    position: absolute;
    left: -30px;
    margin: 0px!important;
    line-height: 0;
    line-height: 0!important;
}

.more-games-box .owl-nav .owl-next {
    position: absolute;
    right: 5px;
    margin: 0px!important;
    line-height: 0!important;
}

.more-games-box .owl-nav span {
    font-size: 25px;
    padding: 5px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none!important;
}

.cursor-pointer,
.cursor-pointer *{
    cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
  color: var(--selection-color);
  background: var(--selection-bg);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

.leaderboard-container .leaderboard-level{
    width: 90px !important;
    min-width: 60px !important;
}

.leaderboard-container .leaderboard-rank{
    width: 55px !important;
    min-width: 55px !important;
}

.leaderboard-container .leaderboard-nickname{
    width: 100% !important;
}

.leaderboard-container .leaderboard-points{
    width: 100px !important;
    min-width: 100px !important;
}

#leaderboardModal .modal-body{
    overflow-x: hidden;
}

.action-goto-website{
    cursor: pointer;
}

.toggle-sidebar-btn-top-right{
    border: none;
}

#statsModal .btn-danger,
.leaderboard-container .btn-primary{
    border: none;
}

#sidebar-section-login .dropdown-menu a:hover,
#sidebar-section-login .dropdown-menu a:active,
.action-show-moregames:hover,
.action-show-moregames:active,
.sidebar-menu-button-link button:hover,
.sidebar-menu-button-link button:active,
#languageModal .list-group-item:hover,
#languageModal .list-group-item:active,
#statsModal .btn-danger:active,
#statsModal .btn-danger:hover,
.leaderboard-container .btn-primary:active,
.leaderboard-container .btn-primary:hover{
    background-color: var(--sidebar-hover-bg-color) !important;
    color: var(--secondary-font-color) !important;
}

.action-select-lang{
    cursor: pointer;
}

.action-select-lang:hover{
    background-color: fixfix
}


#languageModal .list-group-item{
    background-color: transparent;
    color: var(--primary-font-color) !important;
}

#sidebar-section-login .dropdown-menu a{
    cursor: pointer;
}

.scrolling-icon{
    position: fixed;
    right: 0px;
    bottom: 63px;
    background-color: #212a47;
    padding:  2px 5px 2px 5px;
}
.scrolling-icon .fa-chevron-down, .scrolling-icon-text{ 
    font-size: 16px;
}
.scrolling-icon .fa-chevron-down{
    margin-right: 5px;
}

.terms-privacy-text-color, .terms-privacy-text-color:hover{
    color: #91fff1;
}

/* Media query - Responsive */
@media (max-width: 991.98px) {
    .more-games-box .owl-nav {
        display: none;
    }

    .more-games-box .owl-carousel {
        padding-left: 0px;
        padding-right: 0px;
    }
 }

@media (max-width: 400px) {
    .change-lang-modal .modal{
        width: 100%;
    }
}

@media (max-height: 450px) {
    .change-lang-modal .modal{
        width: 100%;
    }
}

@media (max-width: 575.98px) { 
    .modal-header, .modal-body, .modal-footer {
        padding: 10px;
    }
    
    .header-leaderboard-icon, .header-leaderboard-title {
        font-size: 19px;
    }

    .leaderboard-container td, .leaderboard-container th{
        font-size: 14px;
    }

    .sidebar-menu-container h4{
        font-size: 18px!important;
    }
 
    .sidebar-menu-container span, .sidebar-menu-container label, .sidebar-menu-container i, .sidebar-menu-container button, .sidebar-menu-container a{
        font-size: 14px!important;
    }

    .sidebar-menu-container i{
        font-size: 16px!important;
    }
    
    .go-back-btn i{
        font-size: 38px!important;
    }
    
    .cart-btn i{
        font-size: 24px!important;
    }
    
    .change-lang-modal li {
        line-height: 1;
    }

   
 }

 @media (max-height: 450px) { 
    .modal-header, .modal-body, .modal-footer {
        padding: 10px;
    }

    .header-leaderboard-icon, .header-leaderboard-title {
        font-size: 19px;
    }

    .leaderboard-container td, .leaderboard-container th{
        font-size: 14px;
    }

    .sidebar-menu-container h4{
        font-size: 18px!important;
    }
 
    .sidebar-menu-container span, .sidebar-menu-container label, .sidebar-menu-container i, .sidebar-menu-container button, .sidebar-menu-container a{
        font-size: 14px!important;
    }

    .sidebar-menu-container i{
        font-size: 16px!important;
    }
    
    .cart-btn i{
        font-size: 24px!important;
    }

    .change-lang-modal li {
        line-height: 1;
    }
 }