:root {
    /* Main background color*/
    --main-bg-color: #202945;
    --main-gradient-bg-color: radial-gradient(circle, rgba(44,59,94,1) 0%, rgba(32,41,69,1) 80%);

    /* fonts */
    --primary-font-color: #ffffff;
    --secondary-font-color: #202945;

    /* Leaderboard thead title background and text color*/
    --leaderboard-thead-bg: #ccc;
    --leaderboard-thead-text: #202945;

    /* Background color for Top Players*/
    --leaderboard-top-player-bg: #196d6d;   
    --top-players-separator-color: #ccc;
    --badge-bg-top-player: #21847f;
    --point-bg-top-player: #21847f;

    /* Background color for Players*/
    --leaderboard-player-bg: #203d59;
    --badge-bg-player: #2a5272;
    --point-bg-player: #2a5272;
    
    /* Highlight your current position*/
    --highlight-your-position: #047509;
    --highlight-badge-bg: #059905;
    --highlight-point-bg: #059905;

    /* Footer Buttons*/
    --footer-button-bg-color: #024881;
    /* Footer Buttons - Active */
    --footer-button-active-bg-color: #19787f;

    /* Sidebar background color and title background color*/
    --sidebar-main-color: #202945;  
    --sidebar-secondary-color: #1a2338; 
    --sidebar-title-bg-color: #234260;

    /* Sidebar font color and hover background and font color */
    --sidebar-hover-bg-color: #ffffff;

    /* Sidebar open-close button - replace the class in the html, for light or dark button color */
    --sidebar-open-button-dark: brightness(0%) contrast(100%);
    --sidebar-close-button-dark: brightness(0%) contrast(100%);
    --sidebar-open-button-light: brightness(100%) contrast(100%);
    --sidebar-close-button-light: brightness(100%) contrast(100%);

    /* Separator color */
    --border-separator-color:rgba(255, 255, 255, 0.25);

    /* Buttons colors - more games */
    --lg-button-bg-color: #024881;
    
    /* Button - hover color */
    --focus-input: rgb(255 212 0);
    
    --form-error: #dc3545;
    
    --selection-color: #ffffff;
    --selection-bg: #c92c99;
}